// chứa cấu hình toàn cục của landing page
// kich thước màn hình tổng
.wrapper{

    max-width: 1440;
    margin: 0 auto;
}
// body
body{

    // css của google font
    .be-vietnam-pro-regular {
        font-family: "Be Vietnam Pro", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .be-vietnam-pro-medium {
        font-family: "Be Vietnam Pro", serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .be-vietnam-pro-semibold {
        font-family: "Be Vietnam Pro", serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .be-vietnam-pro-bold {
        font-family: "Be Vietnam Pro", serif;
        font-weight: 700;
        font-style: normal;
      }
      
}