/* Định vị nút bên phải màn hình */
.contact-btn {
  position: fixed;
  bottom: 40%;
  right: 2%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  color: white;
  border-radius: 50%;
  padding: 12px 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  z-index: 990;
  /* Responsive với @media CSS */
  @media (max-width: 1200px) {
    /* Thay vì @include media-breakpoint-down(lg) */

      width: 8vw;
      height: 8vw;
      right: 3%;
    
  }
  @media (max-width: 992px) {
    /* Thay vì @include media-breakpoint-down(lg) */

      width: 8vw;
      height: 8vw;
      right: 3%;
   
  }

  @media (max-width: 768px) {

      width: 10vw;
      height: 10vw;
      right: 3%;
    
  }

  @media (max-width: 576px) {
    /* Thay vì @include media-breakpoint-down(sm) */

      width: 16vw;
      height: 16vw;
      right: 4%;
    
  }

  .contact-btn:hover {
    background: #555;
  }
  /* Shockwave Effect */
  .shockwave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(17, 124, 238, 0.4) 20%,
      rgba(255, 255, 255, 0) 80%
    );
    transform: translate(-50%, -50%);
    animation: shockwave-animation 2s infinite;
    opacity: 0;
    z-index: -1;
  }

  /* Sóng 1 */
  .shockwave:nth-child(1) {
    animation-delay: 0s;
  }

  /* Sóng 2 */
  .shockwave:nth-child(2) {
    animation-delay: 1s;
  }

  /* Hiệu ứng shockwave */
  @keyframes shockwave-animation {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0.6;
    }
    100% {
      transform: translate(-50%, -50%) scale(2.5);
      opacity: 0;
    }
  }
  #contactIcon {
    z-index: 991;
    transition: opacity 0.5s ease;
    @media (max-width: 992px) {
    }
  }
  .notification-badge {
    position: absolute;
    top: 0.4vw;
    right: 1vw;
    transform: translate(50%, -50%);
    background: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    @media (max-width: 576px) {
      top: 0.7vw;
     
     
    }
  }
}
