.float-cta {
  display: inline-block;
  position: fixed;
  z-index: 1000;
  width: 5%;
  max-width: 100px;
  height: 50%;
  bottom: 32vh;
  right: 2vw;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  @include media-breakpoint-down(sm) {
    right: 10vw;
  }
}

.float-cta {
  .title-button {
    @include box-shadow-xs();
    height: 7vh;
    width: 7vw;
    @include media-breakpoint-down(xxl) {
    
      width: 11vw;
    }
    @include media-breakpoint-down(xl) {
      height: 7vh;
      width: 10vw;
    }
    @include media-breakpoint-down(lg) {
      height: 7vh;
      width: 12vw;
    }
    @include media-breakpoint-down(md) {
      height: 7vh;
      width: 16vw;
    }
    @include media-breakpoint-down(sm) {
      height: 7vh;
      width: 16vw;
    }
    @media (max-width: 560px) {
      width: 25vw;
    }
    @media (max-width: 466px) {
      width: 24vw;
    }
    @media (max-width: 380px) {
      width: 30vw;
    }
    background: $secondary-gradient-4;
    color: #fff;
    border: 3px solid $secondary-gradient-4;
    border-radius: 50px;
    padding: 0.2rem 0.2rem;
    @include typography(
      $accent-default,
      $font-weight-semibold,
      $font-size-14,
      $line-height-percent-120
    );
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    overflow: hidden; /* Đảm bảo hiệu ứng không tràn ra ngoài */
  }
}

.item {
  height: 5vh;
  width: 10vw;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.name {
  height: 4vh;
  width: 8vw;
  @include media-breakpoint-down(xl) {
    width: 10vw;
  }
  @include media-breakpoint-down(lg) {
    width: 10vw;
  }
  @include media-breakpoint-down(md) {
    width: 14vw;
  }
  @include media-breakpoint-down(sm) {
    width: 26vw;
  }
  text-align: center;
  padding: 0 0 0.1rem;
  position: relative; /* Để chứa hiệu ứng pháo hoa */
  @include typography(
    $primary-default,
    $font-weight-semibold,
    $font-size-12,
    $line-height-percent-120
  );
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px $primary-dark;
}

.button-jittery button {
  animation: jittery 4s infinite;
}

.button-jittery button:hover {
  animation: heartbeat 0.2s infinite;
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}

@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}
