
.bgfooter{
    height: auto;
    background-color: $primary-default;
    .footer {
        margin: 0 auto;
        padding: 2rem 1rem;
        text-align: center;
        width: 1031px;
        max-width: 100%;;
        &__background {
          background: #333;
          height: 5px;
          width: 100%;
        }
      
        &__logo-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 1rem;
          @include media-breakpoint-down(lg) {
            justify-content: flex-start;
            flex-direction: column;
          }
         
        }
      
        &__title {
         
          @include typography(
            $secondary-2,
            $font-weight-bold,
            $font-size-24,
            $line-height-percent-120
          );
        }
      
        &__divider {
          margin: 1.5rem 0;
          color: $background-default;
        }
      
        &__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      
        &__column {
          text-align: center;
          margin-bottom: 1rem;
      
          @media (min-width: 992px) {
            text-align: left;
          }
        }
      
        &__heading {
         
            @include typography(
                $background-default,
                $font-weight-bold,
                $font-size-18,
                $line-height-percent-120
              );
        
          margin-bottom: 0.5rem;
        }
      
        &__info {
          list-style: none;
          padding: 0;
      
          li {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:1.2rem;
            margin-bottom: 1rem;
            @include typography(
                $background-default,
                $font-weight-normal,
                $font-size-14,
                $line-height-percent-150
              );
            @media (min-width: 992px) {
              justify-content: flex-start;
            }
      
            i {
              
              color: #007bff;
            }
          }
        }
        &__copyright{
            align-self: stretch; 
            color: #B0B8BF; 
            font-size: 13px; 
            font-family: Be Vietnam Pro; 
            font-weight: 400; 
            line-height: 19.50px; 
            word-wrap: break-word
        }
      }
}


  