// DANG CODE THEO DESKTOP FIRST
// Styles mặc định của Bootstrap là cho Desktop khi chưa responsive + styles của bản thiết kế cũng từ lớn đến nhỏ
//dòng nào không có @include media-breakpoint-down(...) {...} thì mặc dinh là kích thước lớn nhất

.bgheader {
  background-color: $background-default;
  height: auto;
  @include media-breakpoint-down(lg) {
    height: 40vh;
  }
  .header {
    // Styles .header cho màn hình lớn nhất -desktop trở xuống
    //dùng 3 thuộc tính height: auto;width: 1170px;max-width: 100%; để tránh tràn trang khi responsive xuống
    height: auto;
    width: 1170px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;
    gap: 31px;

    &__content {
      // Styles __content cho màn hình lớn nhất -desktop trở xuống
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      gap: 32px;
      width: 100%;
      height: 97px;
      // Styles __content cho màn hình (lg) - mobile trở xuống
      @include media-breakpoint-down(lg) {
        gap: 40px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
      }
      // Styles __content cho màn hình (md) - mobile trở xuống
      @include media-breakpoint-down(md) {
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
      }
      // Styles __content cho màn hình  (sm) - mobile trở xuống
      @include media-breakpoint-down(sm) {
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
      }

      //logo

      &__logo {
        // Styles &__logo cho màn hình lớn nhất -desktop trở xuống
        display: flex;
        width: 16%;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 12px;
        @include media-breakpoint-down(md) {
          width: 20%;
        }
          // Styles &__logo1 cho màn hình lớn nhất -desktop trở xuống
          &__top {
            width: 155px;
            height: 42px;
            @include media-breakpoint-down(sm) {
              margin-top: 10%;
              width: 155px;
              height: 42px;
            }
            &__image1 {
              width: 155px;
              max-width: 100%;
            }
          }
          &__bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 17px;
            align-self: stretch;
            width: 200px;
            height: 20px;
            // Styles__boxlogo cho màn hình  (md) trở xuống

            @include media-breakpoint-down(md) {
              display: none;
            }

            @include media-breakpoint-down(sm) {
              display: none;
            }
            img {
              width: 118px;
              height: 24px;
            }
          }
      
      }

      //brand
      &__brand {
        // Styles  &__brand cho màn hình lớn nhất -desktop trở xuống
        display: flex;
        width: 46%;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        // Styles  &__brand cho màn hình  -desktop trở xuống
        @include media-breakpoint-down(lg) {
          width: 86%;
        }
        // Styles  &__brand cho màn hình md -mobile trở xuống
        @include media-breakpoint-down(md) {
          width: 76%;
        }
        // Styles  &__brand cho màn hình md -mobile trở xuống
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        // phai goi thang the span vay moi an chu goi class brandname nhu ben duoi khong an
        span {
          justify-content: center;
          @include typography(
            $primary-default,
            $font-weight-bold,
            $font-size-20,
            $line-height-percent-130
          );
          // Styles span cho màn hình nhỏ (sm) - mobile trở xuống
          @include media-breakpoint-down(sm) {
            font-size: $font-size-18;
          }
        }
        small {
          width: auto;
          justify-content: center;
          @include typography(
            $accent-default,
            $font-weight-bold,
            $font-size-16,
            $line-height-percent-150
          );
          // Styles small  cho màn hình nhỏ (sm) - mobile trở xuống
          @include media-breakpoint-down(sm) {
            font-size: $font-size-14;
          }
        }
      }
      //cta
      &__cta {
        font-size: $font-size-18;
        display: block;
        width: 22%;
        height: 56px;
        display: flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        // Styles __cta cho màn hình   (xl) - desktop trở xuống
        @include media-breakpoint-down(xl) {
          width: 26%;
        }
        // Styles __cta cho màn hình   (lg) - tablet trở xuống
        @include media-breakpoint-down(lg) {
          display: none;
          width: 42%;
        }
        // Styles __cta cho màn hình lơn  - desktop trở xuống
        button {
          width: 100%;
          border-radius: $radius-32;
          background: $secondary-gradient-3;
          color: $background-default;
          @include box-shadow-xs();
          text-align: center;
          @include typography(
            $background-default,
            $font-weight-bold,
            $font-size-16,
            $line-height-percent-150
          );
          // Hover effect - đổi màu chữ sang xanh
          &:hover {
            color: $secondary-1-light; // Màu xanh Bootstrap
            transition: color 0.3s ease-in-out;
          }
        }
      }
    }
    &__nav {
      // Styles &__nav cho màn hình lơn  - desktop trở xuống
      background: $secondary-gradient-2;
      display: flex;
      width: 100%;
      height: 64px;
      padding: 17px 22px;
      flex-direction: row;
      align-items: center;
      border-radius: 40px;
      border: 1px solid $secondary-1-default;
      @include box-shadow-xs();
      /* Style __nav xuống dưới lg */
      @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: fit-content;
        background: none;
        border: none;
        box-shadow: none;
      }
      /* Style __nav xuống dưới md */
      @include media-breakpoint-down(md) {
        width: fit-content;
        position: relative;
        bottom: 120px;

        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .navbar-toggler {
        position: relative;
        bottom: 130px;
        left: 160px;
        /* Style __navbar-toggler xuống dưới md */
        @include media-breakpoint-down(md) {
          position: relative;
          top: 10px;
          left: 27vw;
        }
        /* Style __navbar-toggler xuống dưới md */
        @include media-breakpoint-down(sm) {
          position: relative;
          top: 10px;
          left: 29vw;
        }
        @media (max-width: 474px) {
          position: relative;
          top: 10px;
          left: 32vw;
        }
        @media (max-width: 427px) {
          position: relative;
          top: 10px;
          left: 34vw;
        }
        @media (max-width: 393px) {
          position: relative;
          top: 10px;
          left: 36vw;
        }
        @media (max-width: 393px) {
          position: relative;
          top: 10px;
          left: 39vw;
        }
        @media (max-width: 329px) {
          position: relative;
          top: 10px;
          left: 40vw;
        }
      }
      .navbar-collapse {
        border-radius: 16px;
        // Styles  .navbar-collapse cho màn hình lơn  - desktop trở xuống
        justify-content: center;
        /* Style navbar-collapse xuống dưới lg*/
        @include media-breakpoint-down(lg) {
          position: absolute;
          top: -60px;
          right: -300%;
        }

        @include media-breakpoint-down(md) {
          position: absolute;
          top: 80px;
          right: -260%;
        }
        @include media-breakpoint-down(sm) {
          position: absolute;
          top: 80px;
          right: -160%;
        }
        @media (max-width: 350px) {
          position: absolute;
          top: 80px;
          right: -120%;
        }
        // Styles nav-item  cho màn hình lơn  - desktop trở xuống

        .nav-item {
          // Styles .nav-item  cho màn hình lơn  - desktop trở xuống
          // SỬ DỤNG RẤT NHIỀU KỸ THUẬT DUNG MARGIN: 0 AUTO ĐỂ CĂN GIỮA KHỐI
          margin: 0 auto;
          margin-right: 40px;

          /* Style navbar-collapse xuống dưới lg*/
          @include media-breakpoint-down(lg) {
            width: 100%;
            background-color: $layer-2;
          }
          /* Style navbar-collapse xuống dưới md*/
          @include media-breakpoint-down(md) {
            width: 90%;
          }
          @include media-breakpoint-down(sm) {
            width: 50%;
          }
          //
          .nav-link {
            // Styles cho màn hình lớn (desktop)
            position: relative;
            max-width: fit-content;
            padding-bottom: 5px;
            padding-left: 10px;
            transition: color 0.3s ease-in-out;

            @include typography(
              $grayscale-lighter,
              $font-weight-bold,
              $font-size-14,
              $line-height-percent-150
            );

            // Styles xuống dưới lg-tablet
            @include media-breakpoint-down(lg) {
              padding-bottom: 4px;

              @include typography(
                $primary-default,
                $font-weight-bold,
                $font-size-12,
                $line-height-percent-150
              );
            }

            &:hover {
              color: $secondary-1-dark;
            }
            /* Thêm hiệu ứng gạch chân khi hover */
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 3px;
              background-color: $secondary-1-dark;
              transition: width 0.3s ease-in-out;
            }

            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
