.bgintro {
  background: rgba(203, 235, 244, 0.959);
  position: relative; /* Đảm bảo để có thể sử dụng pseudo-element */
  max-width: 100%;
  /* Lớp phủ màu blue nhẹ */
  &::before {
    filter: blur(10px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 249, 250, 0.968); /* Blue nhẹ với độ trong suốt */
    z-index: 1; /* Đảm bảo lớp phủ ở trên nền */
   
  }

  /* Nội dung thực tế nằm trên lớp phủ */
  & > * {
    position: relative; /* Đảm bảo các phần tử con hiển thị ở trên lớp phủ */
    z-index: 2;
  }
  &__logo{
    max-width: 90%;
    height: auto;
    position: absolute;
    right: 0px;
    @include media-breakpoint-down(lg) {
      width: 40px;
      max-width: 90%;
      height: 160px;
    }
    @include media-breakpoint-down(md) {
      width: 20px;
      max-width: 90%;
      height: 100px;
    }
    
  }
  .introduce {
    height: auto;

    max-width: 100%;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 24px;

    &__title {
      text-align: center;
      margin-bottom: 24px;
      @include typography(
        $primary-default,
        $font-weight-bold,
        $font-size-28,
        $line-height-percent-120
      );
      span {
        @include typography(
          $accent-default,
          $font-weight-bold,
          $font-size-28,
          $line-height-percent-120
        );
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center; /* Căn giữa theo chiều dọc */
      justify-content: center; /* Căn giữa theo chiều ngang */
      text-align: center; /* Căn giữa nội dung text */

      // Styles for large screens (lg)
      @include media-breakpoint-down(lg) {
        flex-direction: row;
      }

      &__left {
        width: 24%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__figure {
          width: 100%;
          margin-bottom: 4px;
          &__certificate {
            width: 80%;
            height: 80%;
            object-fit: cover;
            object-position: center;
          }
          &__des {
            width: 80%;
            margin-top: 20px;
            text-align: center;
            @include typography(
              $primary-default,
              $font-weight-medium,
              $font-size-12,
              $line-height-percent-150
            );
          }
        }
      }
      &__line {
        width: 1px; /* Đặt chiều rộng của đường */
        height: 300px; /* Xóa chiều cao (chỉ giữ chiều rộng) */
        background-color: #000; /* Màu đường */
        border: none; /* Xóa border mặc định */
        margin-bottom: 20px; /* Xóa khoảng cách trên và dưới */
        padding: 0; /* Xóa padding mặc định */

        // Styles for large screens (lg)
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      &__right {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 30px;
        @include typography(
          $primary-default,
          $font-size-16,
          $font-weight-bold,
          $line-height-percent-150
        );
        &__text {
          text-align: left;
          &__text1 {
            color: $accent-default;
            font-weight: $font-weight-bold;
          }
          &__text2 {
            font-weight: $font-weight-bold;
          }
        }

        &__link {
          text-decoration: none; /* Tắt gạch chân mặc định */
          position: relative; /* Để có thể sử dụng pseudo-element */
          padding-bottom: 5px; /* Khoảng cách giữa text và gạch chân */

          @include typography(
            $primary-default,
            $font-weight-medium,
            $font-size-18,
            $line-height-percent-150
          );

          /* Gạch chân xuất hiện khi hover */
          &::after {
            content: ""; /* Tạo một phần tử giả */
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px; /* Chiều dày của đường gạch chân */
            background-color: $secondary-1-default; /* Màu của gạch chân */
            transition: width 0.3s ease; /* Hiệu ứng kéo dài khi hover */
          }

          /* Hiệu ứng khi hover */
          &:hover::after {
            width: 100%; /* Gạch chân chạy hết chiều dài của text */
          }
        }
      }
    }
    &__subtitle {
      width: 50%;
      text-align: center;
      @include typography(
        $primary-default,
        $font-weight-bold,
        $font-size-18,
        $line-height-percent-150
      );
      span {
        @include typography(
          $accent-default,
          $font-weight-bold,
          $font-size-18,
          $line-height-percent-120
        );
      }
    }
    &__infoimg {
      display: flex;
      justify-content: flex-end;
    }
  }
}
