.bgkv {
  //nếu có width là container-fluid của framework rồi thì không cần width nữa
  height: 80vh;

  background-image: url("./../images/hero\ section-1.png");
  background-size: cover; /* Co dãn ảnh để che phủ toàn bộ */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat;
  position: relative;
  // Styles for large screens (lg)
  @include media-breakpoint-down(lg) {
    background-image: url("./../images/hero\ section-1.png");

    height: 60vh;
  }
  // Styles for medium screens (md)
  @include media-breakpoint-down(md) {
    background-image: url("./../images/hero\ section-1.png");

    height: 40vh;
  }
  // Styles for medium screens (md)
  @include media-breakpoint-down(sm) {
    background-image: url("./../images/hero\ section-1.png");

    height: 40vh;
  }
   //cta
   &__cta {
    position: absolute;
    top:60vh;
    left: 16vw;
    font-size: $font-size-18;
    display: block;
    width: 18%;
    height: 56px;
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    // Styles __cta cho màn hình   (xl) - desktop trở xuống
    @include media-breakpoint-down(xl) {
      width: 26%;
      left: 10vw;
    }
    // Styles __cta cho màn hình   (lg) - tablet trở xuống
    @include media-breakpoint-down(lg) {
      left: 6vw;
      width: 30%;
    }
    // Styles __cta cho màn hình   (lg) - tablet trở xuống
    @include media-breakpoint-down(md) {
      left: 3vw;
      width: 40%;
      top:26vh;
    }
      // Styles __cta cho màn hình   (lg) - tablet trở xuống
      @include media-breakpoint-down(sm) {
        left: 0vw;
        width: 60%;
        top:28vh;
      }
 
    // Styles __cta cho màn hình lơn  - desktop trở xuống
    button {
      width: 100%;
      border-radius: $radius-32;
      background: $secondary-gradient-3;
      color: $background-default;
      @include box-shadow-xs();
      text-align: center;
      @include typography(
        $background-default,
        $font-weight-bold,
        $font-size-16,
        $line-height-percent-150
      );
      // Hover effect - đổi màu chữ sang xanh
      &:hover {
        color: $secondary-1-light; // Màu xanh Bootstrap
        transition: color 0.3s ease-in-out;
      }
    }
  }
}
