.bgprocess {
  width: 100%;
  min-height: 240vh;

  background-image: url("./../images/group-41695-20240417095959-pp7on.png");
  @include media-breakpoint-down(lg) {
    background-image: url("./../images/road-2.png");
    min-height: 230vh;
    background-size: 100% 80%;
  }
  @include media-breakpoint-down(lg) {
    background-image: url("./../images/road-2.png");
    min-height: 230vh;
    background-size: 100% 90%;
  }
  background-repeat: no-repeat;
  background-position: center 90%; /* Đẩy ảnh xuống 30% */
  background-size: 100% 80%; /* Chiều rộng 100%, chiều cao 60% */

  .process {
    height: auto;
    width: 1170px;
    max-width: 100%;

    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;

    &__title {
      text-align: center;
      margin-bottom: 24px;
      @include typography(
        $primary-default,
        $font-weight-bold,
        $font-size-28,
        $line-height-percent-120
      );
      &__accent {
        color: $accent-default;
      }
    }
    &__content {
      display: flex;
      margin-top: 10%;
      width: 100%;
      position: relative;
      &__img1 {
        position: absolute;
        top: 2vh;
        left: -8vw;
        width: 10%;
        @include media-breakpoint-down(xl) {
          top: 2vh;
          left: 0vw;
        }
        @include media-breakpoint-down(lg) {
          top: -10vh;
          left: 38vw;
          width: 14%;
        }
        @include media-breakpoint-down(md) {
          top: -2vh;
          left: 40vw;
          width: 14%;
        }
        @include media-breakpoint-down(sm) {
          top: -8vh;
          left: 40vw;
          width: 14%;
        }
      }
      &__img2 {
        position: absolute;
        top: 60vh;
        left: 64vw;
        width: 26%;
       
        @include media-breakpoint-down(lg) {
          top: 168vh;
          left: 64vw;
        }
      }
      &__img5 {
        position: absolute;
        top: 40vh;
        left: 0vw;
        width: 28%;
      
        @include media-breakpoint-down(lg) {
          top: 48vh;
          left: 4vw;
        }
      }
      &__img4 {
        position: absolute;
        top: 100vh;
        left: 40vw;
        width: 28%;
        height: 28%;
        @include media-breakpoint-down(lg) {
          top: 31vh;
          left: 4vw;  
        }
      }
      &__img6 {
        position: absolute;
        top: 120vh;
        left: 40vw;
        width: 28%;
   
        @include media-breakpoint-down(lg) {
          top: 88vh;
          left: 64vw;
        }
      }

      &__item-1 {
        position: absolute;
        top: -26vh;
        left: -1vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: -16vh;
          left: 8vw;
        }
        @include media-breakpoint-down(lg) {
          top: 10vh;
          left: 48vw;
        }
        @include media-breakpoint-down(md) {
          top: 10vh;
          left: 46vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 3vh;
          left: 46vw; 
        }
      }
      &__item-2 {
        position: absolute;
        top: -18vh;
        left: 16vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: -10vh;
          left: 28vw;
        }
        @include media-breakpoint-down(lg) {
          top: 38vh;
          left: 48vw;
        }
        @include media-breakpoint-down(md) {
          top: 30vh;
          left: 46vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
        
          top: 20vh;
          left: 46vw; 
        }
      }
      &__item-3 {
        position: absolute;
        top: 8vh;
        left: 34vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 30vh;
          left: 44vw;
        }
        @include media-breakpoint-down(lg) {
          top: 68vh;
          left: 48vw;
        }
        @include media-breakpoint-down(md) {
          top: 48vh;
          left: 46vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
        
          top: 40vh;
          left: 46vw; 
        }
      }
      &__item-4 {
        position: absolute;
        top: 48vh;
        left: 34vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 66vh;
          left: 44vw;
        }
        @include media-breakpoint-down(lg) {
          top: 84vh;
          left: 39vw;
        }
        @include media-breakpoint-down(md) {
          top: 68vh;
          left: 46vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 60vh;
          left: 46vw;   
        }
      }
      &__item-5 {
        position: absolute;
        top: 62vh;
        left: 16vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 106vh;
          left: 18vw;
        }
        @include media-breakpoint-down(lg) {
          top: 94vh;
          left: 22vw;
        }
        @include media-breakpoint-down(md) {
          top: 88vh;
          left: 44vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 76vh;
          left: 46vw;   
        }
      }
      &__item-6 {
        position: absolute;
        top: 72%;
        top: 138vh;
        left: 8vw;
        height: 30%;
        width: fit-content;
        @include media-breakpoint-down(xl) {
          top: 136vh;
          left: 18vw;
        }
        @include media-breakpoint-down(lg) {
          top: 118vh;
          left: 22vw;
        }
        @include media-breakpoint-down(md) {
          top: 88vh;
          left: 26vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 84vh;
          left: 30vw;
        }
      }
      &__item-7 {
        position: absolute;
        top: 168vh;
        left: 20vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 166vh;
          left: 18vw;
        }
        @include media-breakpoint-down(lg) {
          top: 138vh;
          left: 22vw;
        }
        @include media-breakpoint-down(md) {
          top: 108vh;
          left: 18vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 104vh;
          left: 20vw;
        }
      }
      &__item-8 {
        position: absolute;
        top: 164vh;
        left: 40vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 176vh;
          left: 38vw;
        }
        @include media-breakpoint-down(lg) {
          top: 160vh;
          left: 22vw;
        }
        @include media-breakpoint-down(md) {
          top: 128vh;
          left: 18vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 144vh;
          left: 20vw;
        }
      }
      &__item-9 {
        position: absolute;
        top: 170vh;
        left: 64vw;
        width: fit-content;
        height: 30%;
        @include media-breakpoint-down(xl) {
          top: 179vh;
          left: 68vw;
        }
        @include media-breakpoint-down(lg) {
          top: 190vh;
          left: 22vw;
        }
        @include media-breakpoint-down(md) {
          top: 168vh;
          left: 18vw;
        }
        @include media-breakpoint-down(sm) {
          width: 54%;
          top: 184vh;
          left: 20vw;
        }
      }

      @include media-breakpoint-down(xl) {
        margin-top: 8%;
      }
      @include media-breakpoint-down(lg) {
      }
      @include media-breakpoint-down(md) {
      }
      @include media-breakpoint-down(sm) {
      }

      &__box {
        width: 20vw;
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;
        gap: 1%;
        position: relative;
        flex-shrink: 0;
        @include media-breakpoint-down(lg) {
          max-width: 100%;
          flex-direction: row-reverse;
        }
        @include media-breakpoint-down(md) {
          max-width: 100%;
        }
        @include media-breakpoint-down(sm) {
          width: 80%;
          height: 30%;
        }
        @include typography(
          $primary-default,
          $font-weight-bold,
          $font-size-16,
          $line-height-percent-150
        );
        &__boxtext {
      
        
          
          text-align: center;
          width: 90%;

          @include media-breakpoint-down(lg) {
            width: 50%;
          }
          @include media-breakpoint-down(sm) {
            width: 70%;
          }
          &__number {
       
            font-size: $font-size-20;
            color: $primary-light;
            @include media-breakpoint-down(md) {
              font-size: $font-size-12;
              line-height: $line-height-percent-110;
            }
            @include media-breakpoint-down(sm) {
              width: 40%;
              font-size: $font-size-12;
              line-height: $line-height-percent-110;
            }
          }
          &__title {
      
            color: $secondary-1-default;
            @include media-breakpoint-down(lg) {
              color: $accent-dark;
              font-size: $font-size-12;
            }
            @include media-breakpoint-down(md) {
              color: $accent-dark;
              font-size: $font-size-10;
            }
            @include media-breakpoint-down(sm) {
              width: 80%;
              color: $accent-dark;
              font-size: $font-size-10;
            }
          }
          &__text {
            // width: 50%;
            // margin-left: 10%;

            color: $primary-default;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            max-height: 5em; // Chiều cao cố định ban đầu (3 dòng)
            @include media-breakpoint-down(md) {
              font-size: $font-size-12;
              line-height: $line-height-percent-110;
              -webkit-line-clamp: 1;
            }
            @include media-breakpoint-down(sm) {
              width: 90%;
              font-size: $font-size-12;
              line-height: $line-height-percent-110;
              -webkit-line-clamp: 1;
            }
            &.expanded {
              -webkit-line-clamp: unset;
              overflow: visible;
            }
          }
        }

        &__image {
          margin-top: 4%;
          margin-right: 8%;
          width: 6vw;
          height: 100px; /* Đảm bảo hình ảnh có kích thước đồng đều */
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 100%; /* Giữ đúng tỉ lệ ảnh */
            object-fit: cover;
            @include media-breakpoint-down(lg) {
              width: 80%;
              height: 60px; /* Đảm bảo hình ảnh có kích thước đồng đều */
            }
            @include media-breakpoint-down(md) {
              width: 60%;
              height: 40px; /* Đảm bảo hình ảnh có kích thước đồng đều */
            }
            @include media-breakpoint-down(sm) {
              width: 100%;
              height: 40px; /* Đảm bảo hình ảnh có kích thước đồng đều */
            }
          }
        }
      }
    }
  }
  .see-more {
    width: 40%;
    color: blue;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1%;
    display: inline-block;
    transition: color 0.3s ease;
    @include media-breakpoint-down(md) {
      font-size: $font-size-12;
      line-height: $line-height-percent-110;
    }
    @include media-breakpoint-down(sm) {
      font-size: $font-size-12;
      line-height: $line-height-percent-110;
    }
    &:hover {
      color: darkblue;
    }
  }
}
