/* Thanh progress bar */
#progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Độ dày của thanh */
    background: rgba(0, 0, 0, 0.2); /* Màu nền */
    z-index: 9999;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, 
    #e6a8d7,  /* Hồng pastel nhẹ */
    #96c5f7,  /* Xanh dương pastel */
    #b39ddb,  /* Tím lavender */
    #5a69a6,  /* Xanh dương đậm tinh tế */
    #f2f2f2   /* Trắng xám nhẹ */
); /* Màu thanh chạy */
    transition: width 0.1s linear;
}