.bgservice {
  position: relative;
  max-width: 100%;
  height: auto;
  background-image: url("./../images/omotenashi-thu-2-20240401082905-usr7w.png");
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
 

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(220, 218, 218, 0.612) 0%,
      rgba(213, 210, 210, 0.929) 20%,
      rgba(238, 233, 233, 0.648) 50%,
      rgba(238, 233, 233, 0.955) 80%,
      rgba(238, 233, 233, 0.955) 100%
    );
    z-index: 0;
  }

  // Overlay xám mờ
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); // Màu xám mờ
    z-index: 1; // Đặt trên ::before nhưng dưới nội dung
  }
  &__logo {
    z-index: 2; // Cao hơn overlay để hiển thị lên trên
    max-width: 90%;
    height: auto;
    position: absolute;
    right: 0px;
    width: clamp(20px, 50vw, 40px);
    height: clamp(100px, 50vw, 160px);
  }
  .service {
    position: relative; // Để z-index hoạt động
    z-index: 2; // Cao hơn overlay để hiển thị lên trên
    height: auto;
    width: 1170px;
    max-width: 100%;
    gap: calc((24 / 1440) * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding: calc((16 / 1440) * 100vw) calc((16 / 1440) * 100vw);
    justify-content: center;
    align-items: center;

    gap: calc((68 / 1440) * 100vw);
    flex-shrink: 0;
  

    &__content {
      display: flex;
      flex-direction: row;
      display: flex;
      width: 1170px;
      max-width: 100%;
      height: 100%;
      align-items: flex-start;

      gap: calc((64 / 1440) * 100vw);
      @include media-breakpoint-down(lg) {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
      }
      
      flex-shrink: 0;
      &__boximg {
        display: flex;
        width: 46%;
        @include media-breakpoint-down(lg) {
          width: 70%;
          align-content: space-around;
          align-items: flex-start;
        }
        flex-direction: column;
        max-width: 100%;
        align-items: flex-end;
        align-content: flex-end;
        gap: calc((14 / 1440) * 100vw);
        flex-shrink: 0;
        flex-wrap: wrap;
        &__top {
          &__img1 {
            object-fit: cover;
            width: 600px;
            max-width: 100%;
            object-fit: cover;
            height: 239px;
            flex-shrink: 0;
            fill: url(<path-to-image>) lightgray 50% / cover no-repeat;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
              drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: var(--Number-24-px, 24px);
          }
        }
        &__bottom {
          display: flex;
          flex-shrink: 0;
          flex-direction: row;
          width: 100%;
          gap: calc((14 / 1440) * 100vw);
          &__img2 {
            object-fit: cover;
            width: 49%;
            height: 158px;
            flex-shrink: 0;
            border-radius: var(--Radius-Rounded---24, 24px);
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
            flex-shrink: 0;
            /* Shadown - XS */
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
              0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          }
          &__img3 {
            object-fit: cover;
            width: 49%;
            height: 158px;
            flex-shrink: 0;
            border-radius: var(--Number-24-px, 24px);
            background: url(<path-to-image>) lightgray 50% / cover no-repeat;

            /* Shadown - XS */
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
              0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }
      &__line {
        width: 1px; /* Đặt chiều rộng của đường */
        height: 400px; /* Xóa chiều cao (chỉ giữ chiều rộng) */
        background-color: #000; /* Màu đường */
        border: none; /* Xóa border mặc định */
        margin-bottom: 20px; /* Xóa khoảng cách trên và dưới */
        padding: 0; /* Xóa padding mặc định */

        // Styles for large screens (lg)
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
      &__boxtext {
        display: flex;
        width: 40%;
        @include media-breakpoint-down(lg) {
          width: 70%;
          align-content: space-around;
          align-items: flex-start;
        }
        align-items: flex-end;
        align-content: flex-end;
        gap:  24px , 80px;
        flex-shrink: 0;
        flex-wrap: wrap;
        &__title {
          width: 100%;
          flex-shrink: 0;

          @include typography(
            $background-default,
            $font-weight-bold,
            $font-size-24,
            $line-height-percent-130
          );
          &__accent {
            color: $secondary-1-default;
          }
        }
        &__text {
          width: 100%;
          flex-shrink: 0;

          @include typography(
            $background-default,
            $font-weight-normal,
            $font-size-16,
            $line-height-percent-150
          );
          p {
            display: flex;
            gap: 3%;
            align-items: center;
          }
        }
      }
    }
  }
}
