//- dat ten class theo cu phap BEM
.navigation
    .box__logo
        
        img.box__logo__item(src="./../../images/logo-bernard.png", alt='logo1')
        .box__logo__item
            img.box__logo__item--1(src="./../../images/logo-yamanashi.png", alt='logo2')
            img.box__logo__item--2(src="./../../images/logo-japan-society-.png", alt='logo3')
    ul.menu
         li.menu__item 
            a.menu__item__link (href="#") GÓI KHÁM
         li.menu__item 
            a.menu__item__link (href="#") ĐỘI NGŨ Y KHOA,CHUYÊN GIA
         li.menu__item 
            a.menu__item__link (href="#") TRANG THIẾT BỊ
         li.menu__item 
            a.menu__item__link (href="#") HỒ SƠ Y KHOA    
         li.menu__item
            a.menu__item__link (href="#") CA LÂM SÀNG
         li.menu__item
            a.menu__item__link (href="#") LIÊN HỆ

    .cta